<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <div class="grid grid-rows-layout">
            <%- include('./partials/header.ejs') %>

            <main class="m-8 overflow-y-auto">
                <h1 class="text-4xl text-slate-900 font-bold pb-4 border-b-2">
                    Add game to your vault:
                </h1>
                <form
                    action="/games/create"
                    method="post"
                    class="mt-4 flex flex-col gap-4 max-w-screen-sm mx-auto"
                >
                    <div class="flex flex-col gap-2">
                        <label for="name" class="font-bold text-lg"
                            >Name:
                        </label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="border px-2 rounded-lg"
                            required
                        />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="description" class="font-bold text-lg"
                            >Description:
                        </label>
                        <textarea
                            rows="3"
                            name="description"
                            id="description"
                            class="border px-2 rounded-lg"
                            required
                        ></textarea>
                    </div>
                    <div class="flex flex-col gap-2">
                        <h2 class="font-bold text-lg">Categories:</h2>
                        <div>
                            <% if(categories) { %> <%
                            categories.forEach(category => { %>
                            <label for="<%= category._id %>" class="capitalize">
                                <%= category.name %></label
                            >
                            <input
                                type="checkbox"
                                name="category"
                                id="<%= category._id %>"
                                value="<%= category._id %>"
                                class="mr-4"
                            />
                            <% }); %> <% } %>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="name" class="font-bold text-lg"
                            >Price:
                        </label>
                        <input
                            type="number"
                            name="price"
                            id="price"
                            class="border px-2 rounded-lg"
                            required
                        />
                    </div>
                    <button
                        type="submit"
                        class="bg-blue-500 text-white my-4 py-2 rounded-lg"
                    >
                        Submit
                    </button>
                </form>
            </main>

            <!-- Footer -->
            <%- include("./partials/footer") %>
        </div>
    </body>
</html>
