<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <div class="grid grid-rows-layout">
            <%- include('./partials/header.ejs') %>

            <main class="m-8 overflow-y-auto">
                <% if(selected_game) { %>
                <h1
                    class="text-4xl text-slate-900 font-bold pb-4 border-b-2 capitalize"
                >
                    <%= selected_game.name %>
                </h1>
                <h2 class="mt-8 text-2xl font-bold text-slate-900">
                    Description:
                </h2>
                <p class="text-xl italic mt-8">
                    <%= selected_game.description %>
                </p>
                <% if(selected_game.category) { %>
                <h2 class="mt-8 text-2xl font-bold text-slate-900">
                    Categories:
                </h2>
                <ul class="flex items-center gap-8 mt-4 px-4">
                    <% selected_game.category.forEach(category => { %>
                    <li>
                        <a
                            href="<%= category.url %>"
                            class="text-blue-500 capitalize"
                            ><%= category.name %></a
                        >
                    </li>

                    <% }); %>
                </ul>
                <% } %> <% } %>
                <h2 class="mt-8 text-2xl font-bold text-slate-900">Price:</h2>
                <p class="text-blue-500 mt-4 px-4">
                    $<%= selected_game.price %>
                </p>

                <button
                    class="mt-8 px-8 py-2 rounded-lg bg-red-500 hover:bg-red-600 text-white"
                    id="delete-game"
                    data-id="<%= selected_game._id %>"
                >
                    Delete Game
                </button>
            </main>

            <!-- Footer -->
            <%- include("./partials/footer") %>
        </div>
        <script>
            const deleteGame = document.querySelector("#delete-game");
            deleteGame.addEventListener("click", async () => {
                const res = await fetch(
                    `/games/${deleteGame.dataset.id}/delete`,
                    {
                        method: "DELETE",
                    }
                );
                const data = await res.json();
                alert(data.deletedGame.name + " has been deleted");
                window.location.href = data.redirect;
            });
        </script>
    </body>
</html>
