<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <div class="grid grid-rows-layout">
            <%- include('./partials/header.ejs') %>

            <main class="m-8 overflow-y-auto">
                <p class="italic text-lg text-slate-900 mb-8">
                    Welcome to GameVault, a very basic Express website developed
                    as project on The Odin Project.
                </p>

                <% if (username) { %>
                <p
                    class="font-bold text-xl text-slate-900 mb-4 pb-4 border-b-2"
                >
                    The library has the following record counts:
                </p>
                <p class="text-lg mb-4 font-bold text-blue-800">
                    Games:
                    <span class="text-slate-900"><%= games_count %></span>
                </p>
                <p class="text-lg mb-4 font-bold text-blue-800">
                    Categories:
                    <span class="text-slate-900"><%= categories_count %></span>
                </p>
                <% } else {%>
                <p class="capitalize font-bold text-2xl">
                    <a href="/users/login" class="text-blue-500 underline"
                        >login</a
                    >
                    to add games to your vault or
                    <a href="/users/signup" class="text-blue-500 underline"
                        >signup</a
                    >
                    to create an account
                </p>
                <%} %>
            </main>

            <!-- Footer -->
            <%- include("./partials/footer") %>
        </div>
    </body>
</html>
